*.zip
_exclude_*
Logs/*

Arduino/libraries/

Langchain/openai_api_key.txt

Langchain/*.json
Langchain/*pkl

Rpi/PersonalAssistant/

__pycache__

API_KEY*


/Python/MusicStreamingApp/static/music/*
Python/PySpark/Sandbox/DataOutput/*
Python/PySpark/Sandbox/DataInput/*

Ollama/*.jpeg
Ollama/*.jpg

GitSSHAuthentication
/Fabric/GitData/*
/Fabric/fabric
/Fabric/Fabric
/Fabric/Data/*

Fabric/YoutubeTranscript/yt-dlp

Test
Session.vim

Polyglot/*

Rpi/RpiNEspComm/venv/
