*.zip
_exclude_*
Logs/*

Arduino/libraries/

Langchain/openai_api_key.txt

Langchain/*.json
Langchain/*pkl

Rpi/PersonalAssistant/

__pycache__

API_KEY*


/Python/MusicStreamingApp/static/music/*

Ollama/*.jpeg
Ollama/*.jpg

GitSSHAuthentication
/Fabric/GitData/*
/Fabric/fabric

Fabric/YoutubeTranscript/yt-dlp

Test
Session.vim

Polyglot/*

Rpi/RpiNEspComm/venv/
