<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Streaming App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script> 
</head>
<body>
    
    <h1>Mode Watcher</h1>
    <p>Current Mode: <span id="mode">Waiting...</span></p>
    <h1>🎵 Music Streaming App3 🎵</h1>

    <div id="player-container">
    <div class="allSongsContainer">
     <p id="previous-songs"></p>
        <h2 id="song-title">Loading...</h2>	
        <p id="next-songs"></p>
    </div>

        <p id="song-info"></p>
      
        <div class="control-buttons">
            <button onclick="previousSong()">⏮️ Previous</button>
            <button onclick="togglePlayPause()">▶️/⏸️ Play/Pause</button>
            <button onclick="nextSong()">⏭️ Next</button>
	    
	    <button onclick="shuffleQueue()">Shuffle01</button>
	    <button onclick="shuffleQueueByLanguage()">Shuffle02</button>
	    
	    
        </div>
        
          <audio id="audio-player" controls>
            <source id="audio-source" src="" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
	<div>
	    
	    
	</div>
    </div>
</body>
</html>
